#explorer{
	font-family:sans-serif;
	
	-webkit-user-select:none;
	width:100%;
	cursor:default;
	font-size:1.2em;
}
.folderDiv{
	white-space: nowrap;
	margin-left:8px;
	border-left:grey 2px solid;
	margin-top:8px;
	margin-bottom:8px;
}
.folderNameDiv{
	background-color:#555555;
	border-bottom:grey 2px solid;
	color:lightgrey;
	margin-left:-10px;
	padding-left:0.5em;
	font-weight:bold;
    -webkit-animation: wipein 0.5s;
}
.fileNameDiv{
	cursor:pointer;
	background-color:#999999;
	color:#222222;
	margin-bottom:1px;
	padding-left:0.5em;
	overflow-x:hidden;
    
}
.fileNameDiv:hover{
	background-color:#FFFFFF;
	color:black;
	/*width:350px;*/
}
.fileNameDiv-selected{
	color:black;
	background-color:orange;
    -webkit-animation: pulse 1s;
}
.fileNameDiv-selected:hover{
    color:black;
	background-color:gold;
}
.tab-cross{
	display:inline-block;
	
	height:16px;
	width:16px;
	
	color:blue;
	margin-right:5px;
	border-radius:50%;
	vertical-align:middle;
	text-align:center;
	border: 2px solid orange;
	background-color:none;
}
