body{
	margin:0px;
	padding:0px;
	background-color:#555555;
}
h1, h2{
	font-family:sans-serif;
}
h1{
	font-size:1.5em;
	color:orange;
	margin-top:0px;
}
h2{
	font-size:1.3em;
}
hr{
	border-color:orange;
}
select{
	display:block;
	width:100%;
}
#topbar{
	position:fixed;
	width:100%;
	height:36px;
	line-height:36px;
	vertical-align:middle;
	padding-left:2em;
	left:0px;
	top:0px;
	border-bottom:orange groove 4px;
}
#adminifier{
	-webkit-user-select:none;
	cursor:pointer;
	display:inline;
}
#statusBox{
	display:inline;
	margin-left:0em;
}
#sidebar{
	position:fixed;
	width:250px;
	height:-webkit-calc(100% - 40px - 20px);
	left:0px;
	bottom:0px;
	background-color:#555555;
	z-index:9000;
	color:white;
	padding:10px;
}
#editor{
	position:fixed;
	width:-webkit-calc(100% - 250px - 20px);
	height:-webkit-calc(100% - 40px);
	bottom:0px;
	right:0px;
	font-size:13pt;
}


