body{
	margin:0px;
	padding:0px;
}
h1, h2{
	font-family:sans-serif;
}
h1{
	font-size:1.5em;
	color:orange;
	margin-top:0px;
}
h2{
	font-size:1.3em;
}
hr{
	border-color:orange;
}
select{
	display:block;
	width:100%;
}
#adminifier{
	-webkit-user-select:none;
	cursor:pointer;
}
.roundBox{
	background-color:#777777;
	width:-webkit-calc(100% - 10px);
	/*height:4em;*/
	margin:1em 0em;
	border-radius:5px;
	padding:5px;
	font-family:sans-serif;
}
.roundBox:last-child{
	margin-bottom:0px;
}
.fileItem{
    width:100%;
    background-color:#666666;
    border-radius:5px;
	margin-bottom:5px;
}
#sidebar{
	position:fixed;
	width:180px;
	height:100%;
	left:0px;
	top:0px;
	background-color:#555555;
	z-index:9000;
	color:white;
	padding:10px;
}
#editor{
	position:fixed;
	width:-webkit-calc(100% - 200px);
	height:-webkit-calc(100% - 34px);
	bottom:0px;
	left:200px;
	font-size:13pt;
}


