body{
	margin:0px;
	padding:0px;
}
h1, h2{
	font-family:sans-serif;
}
h1{
	font-size:1.5em;
}




#status{
	background-color:#777777;
	width:100%;
	height:3em;
	margin:1em 0em;
	
}
#filelist{
	background-color:#777777;
	width:100%;
	height:10em;
	margin:1em 0em;
}
.fileitem{
	/*width:100%;*/
	background-color:#666666;
	margin-bottom:0.2em;
	border-bottom:solid black 1px;
	-webkit-user-select: none;
	-moz-user-select: none;
	cursor:pointer;
}
.fileitem:hover{
	background-color:#888888;
}
.fileitem:hover{
	background-color:#888888;
}
#container{
	position:fixed;
	width:20%;
	height:100%;
	left:0px;
	top:0px;
	background-color:#555555;
	z-index:9000;
	color:white;
	
	padding:10px;
}
#icode{
	width:80%;
	height:100%;
	left:20%;
	position:fixed;
	top:0px;
	//display:none;
}
#stsp{
	margin-left:auto;
	margin-right:auto;
	width:100%;
	font-size:0.66em;
}